In [1]:
import pandas as pd

In [9]:

PREFIX = "/mnt/c/Users/scl38887/Documents/git/aldehyde/"
INPUT = PREFIX + "workflow/subworkflows/pypsa-earth-sec/pypsa-earth/resources/powerplants.csv"
OUTPUT = PREFIX + "report/sections/tables/powerplants.tex"

In [3]:
powerplants = pd.read_csv(INPUT, index_col=0)

In [6]:
powerplants.head()

                              Name    Capacity Fueltype  DateIn  DateOut
0         Ahmed El Hansali Morocco   90.828025    Hydro  2003.0   2103.0
2             Tetouan Ocgr Morocco  134.318647      Oil  1975.0   2015.0
3           Tahaddart Ccgt Morocco  344.983038     OCGT  2005.0   2045.0
4             Step Afourer Morocco  514.508979    Hydro  1951.0   2051.0
5  Sidi Said Maachou Hydro Morocco   15.379859    Hydro  1929.0   2029.0

In [5]:
keep = ["Name", "Capacity", "Fueltype", "DateIn", "DateOut"]
powerplants = powerplants[keep]

In [16]:
test = powerplants.reset_index(drop=True)

In [31]:
test.head()

,Name,Capacity,Fueltype,DateIn,DateOut
6,Jorf Lasfar Jlec Morocco,1250.2,Hard Coal,1994,2039
21,Mohammedia Ocgt Morocco,925.4,Oil,1981,2021
26,Al Wahda,800.0,CCGT,2010,2050
3,Step Afourer Morocco,514.5,Hydro,1951,2051
25,Ain Beni Mathar Centrale Thermosolaire Ccgt,472.0,CCGT,2009,2049

In [23]:
test["Capacity"] = test["Capacity"].round(1)

In [27]:
test["DateIn"] = test["DateIn"].astype(int)
test["DateOut"] = test["DateOut"].astype(int)

In [30]:
# Sort by capacity
test = test.sort_values(by="Capacity", ascending=False)

In [34]:
# Rename columns
test = test.rename(columns={"Capacity": "Capacity in MW", "Fueltype": "Fuel type", "DateIn": "Commission", "DateOut": "Decommission"})

In [11]:
powerplants

,Name,Capacity,Fueltype,DateIn,DateOut
0,Ahmed El Hansali Morocco,90.828025,Hydro,2003.0,2103.0
2,Tetouan Ocgr Morocco,134.318647,Oil,1975.0,2015.0
3,Tahaddart Ccgt Morocco,344.983038,OCGT,2005.0,2045.0
4,Step Afourer Morocco,514.508979,Hydro,1951.0,2051.0
5,Sidi Said Maachou Hydro Morocco,15.379859,Hydro,1929.0,2029.0
6,Kenitra Morocco,277.900649,Oil,1978.0,2018.0
7,Jorf Lasfar Jlec Morocco,1250.146513,Hard Coal,1994.0,2039.0
8,Jerada Coal Morocco,152.119598,Hard Coal,1971.0,2016.0
9,Idriss Morocco,39.490446,Hydro,1978.0,2078.0
10,Hassan,66.343949,Hydro,1991.0,2091.0
11,Daourat Morocco,16.783439,Hydro,1950.0,2050.0
12,Bin El Ouidane Hyroelectric Morocco,133.280255,Hydro,1953.0,2053.0
13,Allal El Fassi Morocco,236.942675,Hydro,1994.0,2094.0
14,Al Wahda Dam Morocco,236.942675,Hydro,1997.0,2097.0
15,Al Massira Morocco,126.369427,Hydro,1980.0,2080.0
16,Al Kensara Morocco,8.194268,Hydro,1946.0,2046.0
17,Tit Mellil Ocgt Morocco,188.972441,Oil,1993.0,2033.0
20,Imfout Morocco,31.592357,Hydro,1947.0,2047.0
22,Lalla Takerkoust Morocco,8.687898,Hydro,1938.0,2038.0
23,Mansour Ed Dahbi Morocco,9.872611,Hydro,1973.0,2073.0
24,Mohamed Morocco,22.707006,Hydro,1967.0,2067.0
25,Mohammedia Ocgt Morocco,925.409160,Oil,1981.0,2021.0
26,Noor Ouarzazate Csp Osps Morocco,145.829257,Other,2016.0,2021.0
27,Oued El Makhazine Morocco,35.541401,Hydro,1979.0,2079.0
28,Tan Ocgt Morocco,94.486221,Oil,1992.0,2032.0
30,Ain Beni Mathar Centrale Thermosolaire Ccgt,472.000000,CCGT,2009.0,2049.0
32,Al Wahda,800.000000,CCGT,2010.0,2050.0
33,Centrale Diesel De Tantan,116.900000,Oil,2009.0,2049.0
37,Mohammedia,300.000000,Hard Coal,1986.0,2031.0
45,Step Ur,464.000000,Hydro,2005.0,2105.0

In [35]:
test.to_latex(
    OUTPUT,
    longtable=False,
    column_format="p{1cm}p{6.5cm}rrp{2cm}p{3.4cm}",
    na_rep="--",
    escape=False,
    label="tab:powerplants",
    caption="Conventional power plants in Morocco",
)

/tmp/ipykernel_10187/363373868.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  test.to_latex(